<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1093033839976-oarcnbkofib0a83g04fed2bfgop1pd44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093033839976-oarcnbkofib0a83g04fed2bfgop1pd44</string>
	<key>API_KEY</key>
	<string>AIzaSyDai-4y-R37cbw_HxIKadtMadYfd5KwQ1A</string>
	<key>GCM_SENDER_ID</key>
	<string>1093033839976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.theappacademy.recycle</string>
	<key>PROJECT_ID</key>
	<string>recyqdb</string>
	<key>STORAGE_BUCKET</key>
	<string>recyqdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093033839976:ios:627c37f6c0e59ff1</string>
	<key>DATABASE_URL</key>
	<string>https://recyqdb.firebaseio.com</string>
</dict>
</plist>